@font-face {
  font-family: 'The New Elegance';
  src: url('../assets/The New Elegance.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Franie';
  src: url('../../Exports/TTF/Franie-Regular.ttf') format('truetype');
  font-weight: 400 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Franie';
  src: url('../../Exports/TTF/Franie-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
